.mint-button{
    width: 125px;
    height: 42.5px;
    background-color: white;
    border: 2px solid rgb(231, 234, 243);
    border-radius: 12px;
    text-align: center;
    justify-content: center;
}