.nft-outer{
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.nft-container{
    border-radius: 5px;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: 35% 65%;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.nft-container *{
    border-radius: 5px;
    background-color: white;
}
.nft-container .nft-image{
    border-radius: 5px 0 0 5px;
    width: 100%;
    height: 505px;
    background-color: white;
}
.nft-image img{
    width: 100%;
    height: 445px; 
}
.nft-image>p{
    text-align: center;
}
.nft-container .nft-info{
    width: 100%;
    height: 505px; 
}
.nft-image>audio{
    width: 100%;;
    height: 55px;
}
.description-div{
    margin-top:100px;
    border: 1px solid rgb(225, 225, 225);
    height: 200px;
}
.description-div>p{
    overflow-y: scroll;
    height: 100%;
    border-radius: 0 0 5px 5px;
}
.nft-buy{
    background-color: aqua;
    border: 1px solid gray;
    width: 30%;
    height: 40px;
    margin-left:50%;
    transform: translate(-50%);
}
.nft-buy:hover{
    color: white;
    background-color: rgb(3, 162, 162);
    box-shadow: 3px 3px 10px 5px rgb(210, 210, 210);;
}