.outer{
    align-items: center!important;
    justify-content: center!important;
    width: 100%!important;
    height: auto;
}
.outer .container{
    background-color: white!important;
    display: grid!important;
    gap: 20px;
    grid-template-columns: 20% 80%!important;
}
.filters{
    margin-top: 10px;
    margin-left: 10px;
    overflow-x: hidden;
}
.filter{
    display: grid;
    grid-template-columns: 100%;
}
.apply{
    width: 100px;
    margin-left: 50%;
    margin-bottom: 10px;
    transform: translate(-50%);
}
.nfts{
    border-left: 2px solid rgb(222, 222, 222); ;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    row-gap: 20px;
    width: 100%;
    height: auto;
    background-color: white;
}

.pagination{
    transform: translate(40%,10px);
}